.container {
	border: 1px solid;
	padding: 1rem 1.5rem;
	border-radius: 8px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
  position: fixed;
	top: 20px;
  right: 20px;
}

.container[data-is-open="false"] {
	opacity: 0;
  transform: translateX(100%);
  transition: opacity 0.3s, transform 0.3s;
}

.container[data-is-open="true"] {
	opacity: 1;
	transform: translateX(0);
  transition: opacity 0.3s, transform 0.3s;
}

.container [data-close] {
	margin-left: 1rem;
	font-size: 0.75rem;
	font-weight: bold;

	padding: 0;
	background: transparent;
	border: none;
}

.container[data-toast-type='success'] {
	background-color: #d4edda;
	border-color: #c3e6cb;
	color: #155724;
}

.container[data-toast-type='error'] {
	background-color: #f8d7da;
	border-color: #f5c6cb;
	color: #721c24;
}
